<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Lista de Empregados</h2>
    </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let empregado of empregados | async">
                    <td>{{empregado.nome}}</td>
                    <td>{{empregado.sobrenome}}</td>
                    <td>{{empregado.email}}</td>
                    <td><button (click)="deleteEmpregado(empregado.id)" class="btn btn-danger">Apagar</button>
                        <button (click)="atualizarEmpregado(empregado.id)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
                        <button (click)="empregadoDetalhes(empregado.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>